ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: beige;
  text-decoration: none;
}

img {
  width: 280px;
  height: 80px;
  border: 5px solid white;
}

.center {
  text-align: center;
}

h1 {
  margin-top: 1.5rem;
  margin-left: 1rem;
  text-align: center;
}

h2 {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

h3 {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
p {
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.exemplo {
  margin-left: 1rem;
}

nav a:hover {
  color: #5bbe42;
}
